<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @graph.path %>
</p>

<p>
  <strong>Gfuri:</strong>
  <%= @graph.gfuri %>
</p>

<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
